<?xml version="1.0" ?>
<robot name="rg2_gripper" xmlns:xacro="http://ros.org/wiki/xacro">

    <xacro:include filename="$(find rg2_description)/urdf/rg2.urdf.xacro" />

    <!-- 新增一個 fixed joint 將 gripper 的 base_link 掛接到主機器人的 tool0 -->
    <joint name="rg2_mount_joint" type="fixed">
        <parent link="tool0"/>
        <child link="rg2_base_link"/>
        <origin xyz="0 0 0" rpy="0 -1.57 0"/>
    </joint>
</robot>